// Base styles
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

// iPhone Portrait
@media only screen and (max-width: 375px) and (orientation: portrait) {
    Header{
        background-color: #282c34;
        padding: 20px;
        color: white;
        text-align: center;
        font-size: 24px;
        a{
            display: none;
            color: white;
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
            list-style: none;
            text-decoration: none;
        }
    }
}

// iPad Landscape
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    Header{
        background-color: #282c34;
        padding: 20px;
        color: white;
        text-align: center;
        font-size: 24px;
        a{
            color: white;
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
            list-style: none;
            text-decoration: none;
            :hover{
                text-decoration: underline;
                color: #61dafb;
            }
        }
    }
}

// iPad Portrait
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    Header{
        background-color: #282c34;
        padding: 20px;
        color: white;
        text-align: center;
        font-size: 24px;
        a{
            color: white;
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
            list-style: none;
            text-decoration: none;
            :hover{
                text-decoration: underline;
                color: #61dafb;
            }
        }
    }
}

// PC
@media only screen and (min-width: 1025px) {
    Header{
        background-color: #282c34;
        padding: 20px;
        color: white;
        text-align: center;
        font-size: 24px;
        a{
            color: white;
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
            list-style: none;
            text-decoration: none;
            :hover{
                text-decoration: underline;
                color: #61dafb;
            }
        }
    }
}
